body {
    background-color: #5eb5e0;
}
.adsContainer {
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    border: 1px solid black;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.adsData {
    display: grid;
}
.adsImg img {
    max-width: 50%;
}
.adData {
    display: grid;
}
#adImg {
    max-width: 20%;
}
.formUpdate {
    display: grid;
    grid-template-columns: 50% 1fr;
    max-width: 80%;
    margin: 10px auto;
    padding: 10px;
    gap: 10px;
    border: 1px solid black;
}
.leftFormUpdate, .rightFormUpdate {
    display: grid;
    line-height: 25px;
}
.btnFormUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}