section {
    background-color: $color-7;
    .selectContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        
        height: 70vh;
        h1 {
            font-family: 'font-book';
            font-style: italic;
            color: $color-1;
            margin: 0;
            font-weight: 600;
            letter-spacing: 10px;
        }
        form {
            background: url(../../public/assets/img/terreBattue.jpg) center/cover;
            display: grid;
            max-width: 60%;
            margin: 0 auto;
            padding: 10px;
            border-radius: 10px;
            @media (max-width: 450px) {
                max-width: 80%;    
            }
            #title {
                max-width: 50%;
                margin: 20px auto;
                border-radius: 5px;
                border: none;
                padding: 5px;
            }
            select {
                border-radius: 5px;
            }
            #submitSelect {
                max-width: 50%;
                margin: 20px auto;
                padding: 2px 15px;
                border-radius: 5px;
                border: none;
            }
        }
    }
    .ads {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .adsContainer {
            min-width: 400px;
            display: grid;
            grid-template-columns: 50% 1fr;
            .adsData {
                display: grid;
            }
            .adsImg {
                max-width: 200px;
                min-height: 200px;
                img {
                    max-width: 100%;
                }
            }
            
        }
    }
}