footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: space-around;
    height: 12vh;
    margin: 0;
    @media (max-width: 600px) {
        display: grid;
        justify-content: center;
    }
    .contact {
        display: grid;
        text-align: left;
        font-size: 0.9rem;
        line-height: 15px;
        @media (max-width: 600px) {
            text-align: center;
        }
    }
    #logoFooter {
        max-width: 10%;
        @media (max-width: 600px) {
            display: none;
        }
    }
}