header {

    height: 100px;
    
    label, #toggle
    {
        display: none;
    }
    @media all and (max-width: 800px)
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-end;
    
        #nav 
        {
            display: none;
            border-radius: 50px;
            flex-direction: column;
            background: black;
            height: 200px;
            width: 200px;
            justify-content: center;
            margin-top: 20px;
            margin-right: 20px;
            .logoType {
                text-align: center;
                img {
                    width: 80%;
                }
            }
            .linkNav {
                display: flex;
                flex-direction: column;
                button {
                    padding: 5px;
                    margin: 5px;
                }
            }
        }    
         
        label 
        {
            width: 100%;
            position: fixed;
            display: flex;
            justify-content: right;
            align-items: center;
            padding: 10px;
            font-size: 40px;
            color: black;
            cursor: pointer;
        }
        
        #toggle:checked + #nav {
            display: flex;
        }
    }
    .nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        position: fixed;
        width: 100%;
        padding: 0 10px;
        background-color: $color-2;
        .logoType {
            text-align: left;
            img {
            width: 40%;
            }
        }
        #upPage {
            opacity: 0;
            transition: 0.5s;
            cursor: pointer;
        }
        .linkNav {
            display: flex;
            flex-wrap: nowrap;
            a {
                margin-left: 10px;
            }
            button {
                padding: 8px;
                width: 150px;
                border-radius: 100px;
                color: $color-3;
                background-color: $color-7;
                border: none;
                transition: 0.4s;
                &:hover {
                    transform: scale(1.05);
                    color: $color-7;
                    background-color: $color-3;
                }
                @media (max-width: 1000px) {
                    width: 120px;
                    padding: 5px;
                    font-size: 0.8rem;
                }

            }    
        }
    }
}


