.homePage {
    font-family: "font-book";
    background-color: #fff0df;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 45% 1fr;
    grid-template-rows: 1fr 50% 1fr;
    grid-template-areas: 
    "log ball register"
    "woman logo man"
    "h2 h2 h2";
    align-items: center;
    text-align: center;
    justify-items: center;
    overflow: hidden;
    @media (max-width: 760px) {
        grid-template-columns: 50% 1fr;
        grid-template-rows: 20% 1fr 40% 1fr;
        grid-template-areas:
        "logo logo"
        "log register"
        "woman man"
        "h2 h2";
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "logo"
        "log"
        "register"
        "ball"
        "h2";
    }
    #homeLog {
        grid-area: log;
        padding: 20px;
    }
    #ball {
        grid-area: ball;
        max-width: 45%;
        opacity: 0.3;
        @media (max-width: 760px) {
            display: none;
        }
        @media (max-width: 600px) {
            display: grid;
        }
    }
    #homeRegister {
        grid-area: register;
    }
    #logo {
        grid-area: logo;
        max-width: 100%;
        @media (max-width: 760px) {
            max-width: 60%;
        }
    }
    #man {
        grid-area: man;
        max-width: 80%;
        @media (max-width: 760px) {
            max-width: 60%;
        }
        @media (max-width: 600px) {
            display: none;
        }
    }
    #woman {
        grid-area: woman;
        max-width: 100%;
        @media (max-width: 760px) {
            max-width: 80%;
        }
        @media (max-width: 600px) {
            display: none;
        }      
    }
    #homeH2 {
        grid-area: h2;
        display: flex;
        align-items: center;
        text-align: center;
        h2 {
            margin: 0;
            margin-left: 5px;
            margin-right: 5px;
            @media (max-width: 600px) {
                font-size: 1.2rem;
            } 
        }
        @media (max-width: 600px) {
            margin: 0 20px;
            font-size: 0.5rem;
        } 

        
    }
    button {
        padding: 25px;
        border-radius: 100px;
        color: $color-3;
        background-color: $color-7;
        border: none;
        transition: 0.4s;
        &:hover {
            transform: scale(1.1);
            color: $color-7;
            background-color: $color-3;
        }
    }
}