.sectionProfile {
    background-color: $color-7;
    a {
        margin: 20px;
        color: $color-6;
        transition: 0.1s;
        &:hover {
            transform: scale(0.98);

        }
    }
    .userContainer {
        background-color: $color-6;
        display: grid;
        grid-template-columns: 50% 1fr;
        justify-items: center;
        max-width: 60%;
        margin: 20px auto;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 1px white;
        padding: 10px;
        gap: 20px;
        @media (max-width: 750px) {
            grid-template-columns: 1fr;
            
        }
        .leftUser {
            display: grid;
            color: $color-2;
            font-size: 1.5rem;
            @media (max-width: 750px) {
                font-size: 1rem;
                
            }
        }
        .rightUser {
            display: grid;
            .picProfile {
                max-width: 300px;
                height: 300px;
                @media (max-width: 750px) {
                    max-width: 200px;
                    height: 200px;      
                }
                img {
                    max-width: 100%;
                    border-radius: 50px;
                }
            }
            a {
                color: $color-7;
            }
        }
    }
    .ads {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        max-width: 90%;
        margin: 0 auto;
        
        .adsContainer {
            min-width: 400px;
            max-width: 600px;
            min-height: 250px;
            max-height: 500px;
            flex: 1 0 25%;
            display: grid;
            grid-template-columns: 50% 1fr;
            border: solid 2px black;
            border-radius: 10px;
            box-shadow: 0px 0px 8px 1px white;
            @media (max-width: 460px) {
                grid-template-columns: 1fr;
                max-height: 400px;
                min-width: 250px;
            }
            .adsData {
                display: grid;
                border-right: solid 1px black;
                padding: 5px;
                color: $color-2;
                h4 {
                    color: $color-1;
                }
                h5 {
                    text-decoration: underline;
                }
            }
            .adsMedia {
                display: grid; 
                padding: 5px;
                color: $color-2;
                font-style: italic;
                .adsImg {
                    max-width: 200px;
                    @media (max-width: 460px) {
                        max-width: 100px;  
                    }
                    img {
                        max-width: 100%;
                        border-radius: 10px;
                    }
                }
                a {
                    color: $color-6;
                    transition: 0.1s;
                    &:hover {
                        transform: scale(0.98);

                    }
                } 
            }
            
        }
    }    
}