{% extends 'base.html.twig' %}
{% block title %}Hello AdsController!{% endblock %}
{% block body %}

<main>
    <h1>Annonces</h1>
    <a href="{{ path('home') }}">retour à l'accueil</a>
    {% for ad in ads %}
        <div class="adsContainer">

        </div>
    {% endfor %}

</main>
{% endblock %}