{% extends 'base.html.twig' %}
{% block title %} Todo_list homepage {% endblock %}
{% block body %}

    <main>
        <h1>Home page</h1>
        <a href="{{ path('ads') }}">voir les annonces</a>
    </main>

{% endblock %}