<footer>
	<div class="contact">
		<h5>Contact :</h5>
		<span>Tennis Univers</span>
		<span>tennisunivers@gmail.com</span>
		<span>Tél : 01 26 30 95 24</span>
	</div>
	<img id="logoFooter" src="{{asset('assets/img/logo_tennisunivers2.png')}}" alt="photo logo sans texte">
	<p>tennisunivers.com_2022</p>
</footer>
