<header>
	<div class="nav">
		<img src="{{asset('assets/img/logo_tennisunivers2.png')}}" alt="">
		<a href="{{ path('ads') }}">Connexion / Voir les annonces</a>
		<a href="{{ path('app_register') }}">S' inscrire</a>
		<a href="{{ path('app_logout') }}">Déconnexion</a>
	</div>
</header>
